body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(233, 232, 238);
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial;
}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    #content {
        width: 60%;
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: rgb(92, 48, 185);
    }



    h1.logo {
        width: 715px;
        padding-left: 225px;
        margin: 0 auto;
        height: 110px;
        margin-bottom: 20px;
        background: url('images/divider.png') bottom left no-repeat;
    }

    h1.logo span.two {
        font-size: 72px;
        color: #4e4d4d;
        float: left;
    }

    h1.logo span.one {
        font-size: 36px;
        background: #4e4d4d;
        padding: 8px 10px 8px 10px;
        margin: 8px 10px 0 0;
        float: left;
        color: #fff;
        line-height: normal;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
    }

    p.info {
        font-size: 38px;
        color: #4d4d4d;
        text-align: center;
        margin: 0 0 30px 0;
        padding: 0;
    }

    p.info span {
        font-size: 18px;
    }

    p.links {
        width: 274px;
        margin: 0 auto;
        text-align: center;
    }

    p img {
        width: 100%;
    }

    a {
        color: #cd2027;
    }

    a:hover {
        color: #999;
    }

    a:visited {
        color: #999;
    }

    a.li {
        width: 60px;
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 22px;
        height: 22px;
        text-decoration: none;
        background: url('images/social.png') left top no-repeat;
        float: left;
        margin-right: 10px;
        padding: 0 0 0 25px;
    }

    a.li:hover {
        background: url('images/social.jpg') left bottom no-repeat;
        color: #4875b4;
    }


    a.tw {
        width: 54px;
        color: #ffffff;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 22px;
        height: 22px;
        text-decoration: none;
        background: url('images/social.jpg') -85px top no-repeat;
        float: left;
        margin-right: 10px;
        padding: 0 0 0 25px;
    }

    a.tw:hover {
        background: url('images/social.jpg') -85px bottom no-repeat;
        color: #33ccff;
    }


    a.fb {
        width: 65px;
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 22px;
        height: 22px;
        text-decoration: none;
        // background: url(../images/social.jpg) -164px top no-repeat;
        float: left;
        padding: 0 0 0 25px;
    }

    a.fb:hover {
        // background: url(../images/social.jpg) -164px bottom no-repeat;
        color: #3b5998;
    }



    h2 {
        color: #174c79;
        font-size: 27px;
        font-weight: 100;
    }

    h2 span {
        font-size: 15px;
        font-weight: normal;
    }


    .main_box {
        width: 752px;
        float: left;
        background: #fff;
        height: 93px;
        padding: 20px 0 0 25px;
    }

    ul.info {
        float: left;
        margin-top: 15px;
    }

    ul.info li {
        float: left;
        font-size: 12px;
        text-transform: uppercase;
        color: #333;
        margin-right: 12px;
    }

    ul.info li span {
        margin-left: 6px;
    }

    ul.info li.last {
        float: left;
        font-size: 12px;
        text-transform: uppercase;
        color: #333;
        margin-right: 0;
    }

    ul.info li.last a {
        margin: 0 5px;
        color: #333;
        text-decoration: none;
    }

    ul.info li.last a:hover {
        text-decoration: underline;
    }

    // ADDITIONAL

    ul {
        list-style-type: none;
        margin-top: 20px;
        margin-left: 0;
        padding: 0;
    }

    .logo {
        fill: #cd2229;
    }

    svg {
        margin-right: 2%;
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
        /* Firefox 10+, Firefox on Android */
        filter: gray;
        /* IE6-9 */
        -webkit-filter: grayscale(100%);
        /* Chrome 19+, Safari 6+, Safari 6+ iOS */

        &:hover {
            filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
            -webkit-filter: grayscale(0%);
        }
    }
}